UNITS-BORE MM
UNITS-CO-ORDS MM
PIPELINE-REFERENCE DEMO-LINE-001
PIPE
    END-POINT 0 0 0 100
    END-POINT 1200 0 0 100
    ITEM-CODE PIPE-100
    ITEM-DESCRIPTION DEMO STRAIGHT PIPE
ELBOW
    END-POINT 1200 0 0 100
    END-POINT 1200 0 600 100
    CENTRE-POINT 1200 0 0
    ITEM-CODE ELBOW-90
